
.body {
  background-color: rgba(14, 45, 73, 0.993);
}
.container{
  margin-right: 100px;
  margin-left: 100px;
}

a{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
}

.myTable {
  border-radius: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: rgba(14, 45, 73, 0.993);
    /* border-collapse: collapse; */
    /* table-layout: fixed; */
    /* width: 100%; */
}

.myTable  tr:hover {background-color: rgb(87, 124, 172);}
.table  tr{ color: white}
/* .table  tr{ color: white} */
/* tr:nth-child(even) {background-color: #10295f;} */
.mytable tbody:nth-child(even){background-color: rgba(53, 139, 209, 0.993)}


.jumbotron {
  border-radius: 25px;
  background: url('UFO Sightings.jpeg') no-repeat center center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;

}
.filtersearch{
  border-radius: 25px;
  /* background-color: rgb(28, 65, 109); */
  width: 200px;
}
.table td {
  max-width: 440px;
  /* background-color: rgb(104, 119, 136); */
 
  color: white
}
.form-group {
  border-radius: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
}

.myForm1 {
  color: white;
  width:100px;
}

.header2{
  color:white; 
}

.navbar-default .navbar-nav>li>a {
  color:white; 
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color:white;
  background-color: rgb(28, 65, 109);

}
a.logo{
  color:white;
}
#datetime{ border-radius: 5px; color: black}
#city{border-radius: 5px;color: black}
#state{border-radius: 5px;width:152px ; height: 26px;color: black}
#shape{width:152px ; height: 26px; color: black}
#country{ width:152px ; height: 26px ; color: black }
#page{ width:152px ; height: 26px ; color: black }
#Previous{border-radius: 5px;background-color: rgb(28, 65, 109);
  color: white}
#Next{border-radius: 5px;background-color: rgb(28, 65, 109);
  color: white}

.container-fluid{
  background-color: rgb(28, 65, 109);
  color: white

}
#aboutufo{
  border-block-end-color: azure;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
}
#aboutufo1{
  border-block-end-color: azure;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
}

img {
  border-radius: 25px;
  align-items: center;
  max-width:80%;
  color: white;
}
.NumberCount{
  width: 50%;
  padding-top: 15px;
  color: white;
}

.summary{
  width: 50%;
  /* height: auto; */
}

div.svg-container{
  border-radius: 25px;

}